<!DOCTYPE html>
<html lang="es" ng-app="rol">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width , initial-scale=1"/>
		
		<title>Inicio</title>

		<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css" />
		<script src="assets/js/jquery/jquery-2.1.1.min.js"></script>
		<script src="assets/js/bootstrap/bootstrap.min.js"></script>
		<script src="assets/js/angularjs/angular.min.js"></script>
		<script src="assets/js/controllers/jsonrpc-min.js"></script>

		<script src="assets/js/controllers/rolController.js"></script>
	</head>

	<body>
		
		<nav class="navbar navbar-default" role="navigation">
			<a class="navbar-brand" href="index.html">Inicio</a>
			<section>
				<ul class="nav navbar-nav">
					<li><a href="views/roles.html">Roles</a></li>
				</ul>
			</section>
		</nav>

		<section class="container">

			<article class="well well-lg" ng-controller="rolController">

				<div class="form-group row">
					<div class="col-md-4">
						<input ng-model="name" class="form-control input-lg" placeholder="Rol..."/>
					</div>
					<div class="col-md-4">
						<button class="btn btn-primary btn-lg" ng-click="guardar(name)">
							Enviar
						</button>
					</div>
				</div>

				<div class="alert alert-success">
					<ul>
						<li ng-repeat="rol in roles">
							<span> {{ rol.nombre }}</span>
						</li>
					</ul>
				</div>

				<div class="alert alert-info">
					<h3> {{ mensaje }} </h3>
				</div>

			</article>

		</section>

	</body>
</html>