<article class="well well-lg">

	<div class="row">

		<div class="col-md-6 col-sm-6 col-xs-6">
			<form ng-submit="guardar()" >

				<div class="form-group">
					<label for="terreno">Terreno</label>
					<select class="form-control">
						<option>La bonita</option>
					</select>
				</div>

				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" class="form-control" ng-model="nombre" id="nombre" name="nombre" placeholder="Nombre" />
				</div>

				<div class="form-group">
					<label for="area">Area</label>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="area" id="area" name="area" placeholder="Area" />
						<span class="input-group-addon">Mts<sup>2</sup></span>
					</div>
				</div>

				<div class="form-group">
					<label for="ubicacion">Ubicacion</label>
					<input type="text" class="form-control" ng-model="ubicacion" id="ubicacion" name="ubicacion" placeholder="Ubicacion" />
				</div>

				<input type="submit" value="Guardar" id="guardar" class="btn btn-success"/>
				<button class="btn btn-success">
					Editar
				</button>
				<button class="btn btn-success">
					Eliminar
				</button>

			</form>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-6">

			<table class="table table-striped">

				<tr>
					<th>&nbsp;</th>
					<th>Terreno</th>
					<th>Nombre</th>
					<th>Area</th>
				</tr>
				<tr ng-repeat="bloque in bloques">
					<td>
					<input type="radio" name="selection" />
					</td>
					<td></td>
					<td>{{bloque.nombre}}</td>
					<td>{{bloque.area}} mts<sup>2</sup></td>
				</tr>

			</table>

		</div>

	</div>

</article>
