<article class="well well-lg">

		<article>
			<div class="page-header">
				<h3>Cafeto</h3>
			</div>
			<form name="formCafeto" ng-submit="guardar()">

				<div class="form-group">
					<label for="nombre">Nombre</label>
                    <input class="form-control" type="text" id="nombre" name="nombre" ng-model="nombre" placeholder="Nombre de la variedad"/>
				</div>

				<div class="form-group">
					<label for="abono">Cantidad Abono</label>
					<input class="form-control" type="text" id="abono" name="abono" ng-model="cantidadAbono" placeholder="Cantidad Abono"/>
				</div>

				<div class="form-group">
					<label for="pesticida">Cantidad Pesticida</label>
					<input class="form-control" type="text" id="pesticida" name="pesticida" ng-model="cantidadPesticida" placeholder="Cantidad Pesticida"/>
				</div>

				<div class="form-group">
					<label for="distSurco">Distancia Surco</label>
					<input class="form-control" type="text" id="distSurco" name="distSurco" ng-model="distanciaSurco" placeholder="Distancia"/>
				</div>

				<div class="form-group">
					<label for="distCafeto">Distancia Cafeto</label>
					<input class="form-control" type="text" id="distCafeto" name="distCafeto" ng-model="distanciaCafeto" placeholder="Distancia"/>
				</div>

				<div class="form-group">
					<label for="tiempoSemillero">Tiempo Semillero</label>
					<div class="input-group">
					    <input class="form-control" type="text" id="tiempoSemillero" name="tiempoSemillero" ng-model="tiempoSemillero" placeholder="Cantidad"/>
						<span class="input-group-addon">Dias</span>
					</div>
				</div>

				<div class="form-group">
					<label for="tiempoAlmacigo">Tiempo Almacigo</label>
					<div class="input-group">
						<input class="form-control" name="tiempoAlmacigo" id="tiempoAlmacigo" ng-model="tiempoAlmacigo" type="text" placeholder="Cantidad"/>
						<span class="input-group-addon">Dias</span>
					</div>
				</div>

				<div class="form-group">
					<label for="tiempoGraneo">Tiempo Graneo</label>
					<div class="input-group">
						<input class="form-control" name="tiempoGraneo" id="tiempoGraneo" ng-model="tiempoGraneo" type="text" placeholder="Cantidad"/>
						<span class="input-group-addon">Dias</span>
					</div>
				</div>

				<div class="form-group">
					<label for="tiempoSoca">Tiempo Soca</label>
					<div class="input-group">
						<input class="form-control" name="tiempoSoca" id="tiempoSoca" ng-model="tiempoSoca" type="text" placeholder="Cantidad"/>
						<span class="input-group-addon">Dias</span>
					</div>
				</div>

				<div class="form-group">
					<label for="primeraCosecha">Primera Cosecha</label>
					<div class="input-group">
						<input class="form-control" name="primeraCosecha" id="primeraCosecha" ng-model="primeraCosecha" type="text" placeholder="Cantidad"/>
						<span class="input-group-addon">Dias</span>
					</div>
				</div>

				<div class="form-group">
					<label for="proveedor">Proveedor</label>
                    <input class="form-control" type="text" id="proveedor" name="proveedor" ng-model="proveedor" placeholder="Nombre"/>
				</div>

				<input type="submit" id="guardar" value="Guardar" class="btn btn-success" />
				<button class="btn btn-success">
					Editar
				</button>
				<button class="btn btn-success">
					Eliminar
				</button>

			</form>

		</article>

		<article>

			<table class="table table-striped" >

				<tr class="info">
    				<th>Nombre</th>
                	<th>Cant. Abono</th>
    				<th>Cant. Pesticidad</th>
    				<th>Dist. Surco</th>
    				<th>Dist. Cafeto</th>
    				<th>Tiempo Semillero</th>
    				<th>Tiempo Almacigo</th>
    				<th>Tiempo Graneo</th>
    				<th>Tiempo Soca</th>
    				<th>Primera Cosecha</th>
    				<th>Proveedor</th>
    				<th>Fecha</th>
    			</tr>
				<tr ng-repeat="cafeto in cafetos">
					<td>{{cafeto.nombre}}</td>
					<td>{{cafeto.cantidadAbono}}</td>
					<td>{{cafeto.cantidadPesticida}}</td>
					<td>{{cafeto.distanciaCafeto}}</td>
					<td>{{cafeto.distanciaSurco}}</td>
					<td>{{cafeto.tiempoSemillero}}</td>
					<td>{{cafeto.tiempoAlmacigo}}</td>
					<td>{{cafeto.tiempoGraneo}}</td>
					<td>{{cafeto.tiempoSoca}}</td>
					<td>{{cafeto.primeraCosecha}}</td>
					<td>{{cafeto.proveedor}}</td>
					<td>{{cafeto.fechaRegistro}}</td>
				</tr>

			</table>
		</article>
		
</article>