<article class="well well-lg">

    <article>
        <div class="page-header">
            <h3>Procesos</h3>
        </div>
        <form name="formProcesos" ng-submit="guardar()">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" type="text" id="nombre" name="nombre" ng-model="nombre"/>
            </div>

            <input type="submit" id="guardar" value="Guardar" class="btn btn-success"/>

        </form>

    </article>

    <article>

        <table class="table table-striped">

            <tr class="info">
                <th>Nombre</th>
            </tr>
            <tr ng-repeat="proceso in procesos">
                <td>{{proceso.nombre}}</td>
            </tr>

        </table>
    </article>

</article>