<article class="well well-lg">
	<div class="row">

		<div class="col-md-6  col-sm-6 col-xs-6">

			<form name="formTerreno" ng-submit="guardar()">

				<div class="form-group">
					<label for="munucipio">Municipio</label>
					<select name="municipio" id="municipio" ng-model="municipio" class="form-control">
						<option ng-repeat="m in municipios" ng-value="m.id">{{ m.nombre }}</option>
					</select>
				</div>

				<div class="form-group">
					<label for="finca">Finca</label>
					<input class="form-control" type="text" ng-model="nombre" id="finca" name="finca" placeholder="Nombre finca"/>
				</div>

				<div class="form-group">
					<label for="direccion">Direccion</label>
					<input class="form-control" type="text" id="direccion" ng-model="direccion" name="direccion" placeholder="Direccion"/>
				</div>

				<div class="form-group">
					<label for="area">Area</label>
					<div class="input-group">
						<input class="form-control" name="area" id="area" ng-model="area" type="text" pattern="[0-9]" required="required" placeholder="Area"/>
						<span class="input-group-addon">Mts<sup>2</sup></span>
					</div>
				</div>

				<div class="form-group">
					<label for="imagen">Imagen</label>
					<input class="form-control" type="file" ng-model="imagen" />
				</div>

				<input type="submit" id="guardar" value="Guardar" class="btn btn-success" />
				<button class="btn btn-success">
					Editar
				</button>
				<button class="btn btn-success">
					Eliminar
				</button>

			</form>

		</div>

		<div class="col-md-6 col-sm-6 col-xs-6" ng-controller="terrenoController">

			<table class="table table-striped" >

				<tr>
					<th>Municipio</th>
					<th>Finca</th>
					<th>Direccion</th>
					<th>Area</th>
				</tr>
				
				<tr ng-repeat="t in terrenos">
					<td>{{t.municipio.nombre}}</td>
					<td>{{t.nombre}}</td>
					<td>{{t.direccion}}</td>
					<td>{{t.area}} <span>M<sup>2</sup></span></td>
				</tr>

			</table>
		</div>
</article>
